/* regole generali di pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.width80 {
  width: 80%;
  margin: auto;
}


/* regole per float */
.riga::after {
  content: "";
  display: table;
  clear: both;
}
/*  */

/* prima sezione header */
#section-fixed {
  background-color: #FFFAF0;
  height: 50px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.lingua-contattaci {
  width: 50%;
  float: left;
}

.lingua-contattaci a {
  text-decoration: none;
  color: black;
  line-height: 50px;
}

.lingua-contattaci a:first-child {
  margin: 0;
}

.lingua-contattaci a, .lingua-contattaci span {
  margin-right: 20px;
}


.lingua-contattaci span {
  border-left: 1px solid grey;
}

.login-bar {
  text-align: right;
  width: 50%;
  float: left;
}

.login-bar a {
  text-decoration: none;
  line-height: 50px;
}

#login-button {
  color: orange;
  padding: 8px;
  background-color: white;
  border: 1px solid orange;
  border-radius: 5px;
  margin-left: 10px;
}

.orange-button {
  color: white;
  background-color: orange;
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;
}
/*  */


/* seconda sezione header: navbar */
#sfondo-navbar {
  height: 50px;
  border-bottom: 1px solid black;
  margin-top: 50px;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.logo-sito {
  width: 30%;
  float: left;
}

.logo-sito img {
  margin-top: 10px;
}

.navbar {
  width: 70%;
  float: left;
}

.navbar ul {
  text-align: right;
  line-height: 50px;
}

.navbar ul li {
  display: inline-block;
  margin-left: 25px;
}

.navbar ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
/*  */

/* terza sezione header */
#sfondo-jumbo {
  background-image: url(../img/jumbotron.png);
  background-size: 100% 600px;
  background-repeat: no-repeat;
  min-height: 600px;
  border-bottom: 1px solid black;
}

.title-jumbo {
  padding-top: 40px;
}

.title-jumbo h1 {
  font-size: 40px;
}

.title-jumbo p {
  margin: 30px 0;
  line-height: 25px;
}

.title-jumbo .button-jumbo {
  text-decoration: none;
  margin: 0;
}

.title-jumbo span {
  display: block;
  margin-top: 30px;
}
/* FINE header */

/* inizio main */
#sfondo-perlato {
  background-color: #FFFAF0;
  min-height: 700px;
}

/* inizio prima mini sezione main */
.powerful {
  text-align: center;
  padding: 50px 0;
}

.powerful h2 {
  margin: 20px 0;
}

.powerful p {
  line-height: 25px;
}

.image-cubo img {
  width: 150px;
}
/*  */

/* inizio seconda mini sezione main */
.crm {
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px grey;
}


.col-1 {
  width: 30%;
  float: left;
  padding: 30px;
}

.col-2 {
  width: 70%;
  float: left;
}

.contenuto-up, .contenuto-down {
  text-align: center;
}

.contenuto-up img {
  width: 150px;
}


.learn-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.learn-button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

#contenuto-free-crm {
  padding: 30px 0;
}

#contenuto-free-crm p {
  margin: 20px 0;
  line-height: 25px;
}

#contenuto-free-crm h4  {
  display: inline-block;
  width: 25%;
}

#contenuto-free-crm span {
  display: inline-block;
  width: 30%;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}

#contenuto-free-crm ul {
  margin-top: 20px;
}

#contenuto-free-crm ul li {
  margin-right: 15px;
  display: inline-block;
}

#contenuto-free-crm ul li::before {
  content: "\25cf\a0";
}
/*  */

/* inizio terza mini sezione main */


.hubs {
  padding: 40px 0;
}

.colonna2 {
  margin: 0 5%;
}

.colonna1, .colonna2, .colonna3 {
  width: 30%;
  min-height: 630px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px grey;
  float: left;
}

.image-hub img {
  width: 150px;
  height: 160px;
}


.contenuto-colonna {
  text-align: center;
  padding: 30px 0;
}

.contenuto-colonna ul li {
  list-style: none;
  margin-bottom: 10px;
}

.contenuto-colonna ul li::before {
  content: "\25cf\a0";
  color: orange;
  margin-right: 20px;
}

.contenuto-colonna h3, .contenuto-colonna h4 {
  margin: 20px 0;
}

#separatore span {
  display: inline-block;
  width: 60%;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

.contenuto-colonna p {
  margin-bottom: 40px;
  line-height: 25px;
}


.contenuto-colonna ul {
  text-align: left;
  padding-left: 45px;
}

/* inizio seconda MACRO sezione main */

/* inizio prima mini sezione */
#sfondo-verde-acqua {
  background-color: #66CDAA;
  min-height: 500px;
}

.row150 {
  padding: 30px 0;
}

.learn-title {
  text-align: center;
  color: white;
}

.learn-title h2 {
  padding: 30px 0;
}

.learn-title p {
  line-height: 25px;
}

.row150 .square {
  float: left;
  width: calc(100% / 4);
  min-height: 200px;
  text-align: center;
  color: white;
  padding-top: 50px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.row150 .square:last-child {
  border: none;
}

#inbound {
  border-right: none;
}

#border-none {
  border-bottom: none;
}

.square h2 {
  margin: 10px 0;
  font-size: 40px;
}
/* fine seconda MACRO sezione main */

/* inizio terza MACRO sezione main */

/* inizio prima mini sezione: sponsor */
#sfondo-bianco {
  background-color: white;
  min-height: 600px;
  position: relative;
}

#blocco-sponsor {
  padding-top: 30px;
}

.sponsor {
  min-height: 200px;
  margin-bottom: 40px;
}

.col-64, .col-sponsor {
  float: left;
}

.col-64 {
  width: 40%;
}

.col-sponsor {
  width: 60%;
}

.contenuto-col-64 {
  text-align: center;
  padding-top: 30px;
}

.contenuto-col-64 h2 {
  font-size: 40px;
  margin-bottom: 30px;
}


.contenuto-col-64 span {
  display: block;
  margin-bottom: 5px;
  line-height: 25px;
}

.loghi-sponsor-up, .loghi-sponsor-down {
  text-align: center;
  padding-top: 30px;
}

.loghi-sponsor-up img, .loghi-sponsor-down img {
  width: 110px;
  height: 25px;
}
/* fine mini sezione sponsor */

/* inizio seconda mini sezione - logo woman- */

.col-start-grow, .col-logo-woman {
  float: left;
  width: 50%;
}

.col-start-grow h2 {
  margin-bottom: 20px;
}

.col-start-grow p {
  line-height: 25px;
}

.col-start-grow .orange-button {
  display: inline-block;
  margin: 30px 0;
  text-decoration: none;
}

.col-start-grow span {
  display: block;
}

.col-logo-woman img {
  width: 250px;
  height: 320px;
  position: absolute;
  bottom: 70px;
  right: 250px;
}
/* FINE main */

/* inizio footer */
#sfondo-footer {
  background-color: #2F4F4F;
  min-height: 500px;
  padding-top: 20px;
}


.col-footer {
  float: left;
  width: calc(100% / 4);
}

.col-footer h4 {
  margin-bottom: 20px;
  color: white;
}

.col-footer ul li {
  list-style: none;
  margin-bottom: 10px;
  color: lightgrey;
}

.col-footer ul li a {
  text-decoration: none;
  color: lightgrey;
}


#footer-button {
  display: inline-block;
  text-decoration: none;
  color: #2F4F4F;
  background-color: lightgrey;
  padding: 8px;
  border-radius: 5px;
}

.social-link {
  margin-top: 10px;
}

.social-link a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 22px;
}

.epilogo-pagina {
  margin-top: 70px;
  text-align: center;

}

.epilogo-pagina a {
  display: inline-block;
  text-decoration: none;
  color: lightgrey;
  margin-right: 20px;
  margin-bottom: 20px;
}

.col-credits {
  float: left;
  width: 50%;
  padding-top: 30px;
}

.col-credits-sx span {
  display: block;
  color: lightgrey;
  margin-top: 10px;
}

.col-credits-dx {
  text-align: right;
}

.col-credits-dx a {
  text-decoration: none;
  color: lightgrey;
  display: inline-block;
}

.col-credits-dx a:first-child {
  margin-right: 20px;
}

.col-footer ul li a:hover, .social-link a:hover, .epilogo-pagina a:hover, .col-credits-dx a:hover  {
  color: lightblue;
}
/* fine footer */

/* FINE */
