/* regole generali di pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.width80 {
  width: 80%;
  margin: auto;
}

.width80::after {
  content: "";
  display: table;
  clear: both;
}

/* prima sezione header */
#section-fixed {
  background-color: #FFFAF0;
  height: 50px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.lingua-contattaci {
  width: 50%;
  float: left;
}

#earth {
  display: inline;
}

#earth a {
  display: inline;
}

.lingua-contattaci span {
  display: inline-block;
  width: 20%;
  margin-top: 15px;
}

.lingua-contattaci a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: black;
}


#select-lingua {
  border-right: 1px solid lightgrey;
  margin-right: 25px;
}

#select-lingua select {
  border: none;
  background-color: #FFFAF0;
  width: 70%;
  font-size: 15px;
}

.login-bar {
  text-align: right;
  width: 50%;
  float: left;
}

.login-bar a {
  text-decoration: none;
  line-height: 50px;
}

#login-button {
  color: orange;
  padding: 8px;
  background-color: white;
  border: 1px solid orange;
  border-radius: 5px;
  margin-left: 10px;
}

.orange-button {
  color: white;
  background-color: orange;
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;
}
/*  */


/* seconda sezione header: navbar */
#sfondo-navbar {
  height: 50px;
  border-bottom: 1px solid black;
  margin-top: 50px;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.logo-sito {
  width: 30%;
  float: left;
}

.logo-sito img {
  margin-top: 10px;
}

.navbar {
  width: 70%;
  float: left;
}

.navbar ul {
  text-align: right;
  line-height: 50px;
}

.navbar ul li {
  display: inline-block;
  margin: 0 5px;
}

.navbar ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
/*  */

/* terza sezione header */
#sfondo-jumbo {
  background-image: url(../img/jumbotron.png);
  background-size: 100% 500px;
  background-repeat: no-repeat;
  height: 500px;
  border-bottom: 1px solid black;
}

.title-jumbo {
  padding-top: 40px;
  width: 35%;
}

.title-jumbo h1 {
  font-size: 40px;
}

.title-jumbo p {
  padding: 20px 0;
}

.title-jumbo .button-jumbo {
  text-decoration: none;
  margin: 0;
}

.title-jumbo span {
  display: block;
  margin-top: 20px;
}
/* FINE header */

/* inizio main */
#sfondo-perlato {
  background-color: #FFFAF0;
  /* debug */
  min-height: 700px;
}

/* inizio prima mini sezione main */
.powerful {
  text-align: center;
  padding: 50px 0;
  /* debug */
  /* height: 200px; */
}

.powerful h2 {
  margin: 20px 0;
}


.image-cubo img {
  width: 150px;
}
/*  */

/* inizio seconda mini sezione main */
.riga {
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px grey;
}

/* regole per float */
.riga::after {
  content: "";
  display: table;
  clear: both;
}
/*  */

.col-1 {
  width: 30%;
  float: left;
  padding: 30px;
  /* debug */
  height: 100%;
}

.col-2 {
  width: 70%;
  float: left;
  /* debug */
  height: 100%;
}

.contenuto-up, .contenuto-down {
  text-align: center;
}

.contenuto-up img {
  width: 150px;
}


.learn-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#contenuto-free-crm {
  padding: 30px 0;
}

#contenuto-free-crm p {
  margin: 20px 0;
}

#contenuto-free-crm h4  {
  display: inline-block;
  width: 25%;
}

#contenuto-free-crm span {
  display: inline-block;
  width: 30%;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}

#contenuto-free-crm ul {
  margin-top: 20px;
}

#contenuto-free-crm ul li {
  margin-right: 15px;
  display: inline-block;
}

#contenuto-free-crm ul li::before {
  content: "\25cf\a0";
}
/*  */

/* inizio terza mini sezione main */

/* regole per float */
.riga2::after {
  content: "";
  display: table;
  clear: both;
}
/*  */

.riga2 {
  margin-top: 40px;
}

.colonna2 {
  margin: 0 5%;
}

.colonna1, .colonna2, .colonna3 {
  width: 30%;
  height: 630px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px grey;
  float: left;
}

.image-hub img {
  width: 150px;
  height: 160px;
}


.contenuto-colonna {
  text-align: center;
  padding: 30px 0;
}

.contenuto-colonna ul li {
  list-style: none;
  margin-bottom: 10px;
}

.contenuto-colonna ul li::before {
  content: "\25cf\a0";
  color: orange;
  margin-right: 20px;
}

.contenuto-colonna h3, .contenuto-colonna h4 {
  margin: 20px 0;
}

#separatore span {
  display: inline-block;
  width: 60%;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

.contenuto-colonna p {
  margin-bottom: 40px;
}


.contenuto-colonna ul {
  text-align: left;
  padding-left: 45px;
}

/* inizio seconda MACRO sezione main */

/* inizio prima mini sezione */
